*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --primeira-cor:#115923;
    --segunda-cor:#1F7334;
    --terceira-cor:#2B8C44;
    --quarta-cor:#658C6F;
    --quinta-cor:#A4BFAE;
    --branco-cor:#ffff;
}

.nav-titulo{
    color: var(--primeira-cor);
    font-size: 2rem;
    text-transform: uppercase;
}

.nav-items{
    color: var(--primeira-cor);
    font-size: 1.4rem;
}

.my-title{
    font-size: 3rem;
    color: var(--terceira-cor);
    font-weight: 400;
}


.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--quarta-cor);
    padding: 2rem 0;
}

footer p{
    font-size: 1.5rem;
    color: var(--branco-cor);
    text-align: center;
}

@media(max-width: 959px){
    #sobre{
        text-align: center;
    }
    #produtos{
        text-align: center;
    }
}